*
.storage/
.cloud/
.vscode/
blueprints/
appdeamon/
custom_components/
deps/
esphome/
node-red/
tts/
www/
zigbee2mqtt/

!*.yaml
!.gitignore
!*.md
!**/packages
!**/automations
!**/lovelace
!**/scenes
!**/script
!**/themes
!mainpage.png

secrets.yaml
known_devices.yaml